<aside class="bg-white text-secondary vh-100 p-3 border-end" style="width: 250px;">
    <ul class="nav flex-column">
        <li class="nav-item mb-2">
            <a class="nav-link text-secondary" href="#">Dashboard</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-secondary" href="#">Relatórios</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-secondary" href="#">Notificações</a>
        </li>
        <hr>
        <li class="nav-item mb-2">
            <a class="nav-link text-secondary" href="#">Perfil</a>
        </li>
        <li class="nav-item mb-2">
            <a class="nav-link text-secondary" href="#">Configurações</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-secondary" href="#">Sair</a>
        </li>
    </ul>
</aside>