{% extends 'forms/layout_form.html' %}
{% load static %}
{% block title %}Redefinir Senha {% endblock %}
{% block content %}

  <section>
    <div class="container-slogan">
      <div class="title">Flúmen</div>
      <div class="slogan">Sua estação meteorológica completa na palma da mão!</div>
    </div>

  <div class="container-formulario">
    <div class="formulario">
      <div class="logo">
        <img src="{% static 'img/logo.png' %}" alt="Logo" />
          <p class="text" >Bem vindo ao Flúmen!</p>
          <p class="info">Faça login para continuar.</p>
      </div>
      <form class="form mb-2">
        <div class="mb-2 input-style">
          <label for="setNewPasswordConfirm" class="form-label">Nova senha</label>
          <input type="password" class="form-control input-style" id="setNewPasswordConfirm" placeholder="Digite sua nova senha aqui"/>
        </div>
        <div class="mb-2 input-style">
          <label for="setNewPasswordConfirm" class="form-label">Confirme a senha</label>
          <input type="password" class="form-control" id="setNewPasswordConfirm" placeholder="Repita sua senha aqui"/>
        </div>     
      </form>
      
      <div class="button" >
        <button class="btn bt-login" type="submit">Redefinir senha</button>
      </div>
      <div class="link">
        <a class="btn btn-link" href="{% url 'cadastro' %}">Não tem conta? Clique aqui!</a>
      </div>
    </div>
    </div>
  </section>

{% endblock %}
