{% load static %}

<aside class="bg-white text-secondary vh-90 p-4 border-none sidebar" width="300px">
  <ul class="nav flex-column">
    <li class="nav-item mb-2 " id="nav-item">
      <div class="item-list">
        <i class="bi bi-file-bar-graph"></i>
        <a class="nav-link text-secondary" href="{% url 'dashboard' %}">Dashboard</a>
      </div>
    </li>
    <li class="nav-item mb-2  ">
      <div class="item-list">
        <i class="bi bi-card-text"></i>
        <a class="nav-link text-secondary" href="{% url 'relatorio' %}">Relatórios</a>
      </div>
    </li>
    <li class="nav-item mb-2 ">
      <div class="item-list">
        <i class="bi bi-bell"></i>
        <a class="nav-link text-secondary" href="#">Notificações</a>
      </div>
    </li>
    <hr />
    <li class="nav-item mb-2 ">
      <div class="item-list">
        <i class="bi bi-person"></i>
        <a class="nav-link text-secondary" href="#">Perfil</a>
      </div>
    </li>
    <li class="nav-item mb-2 ">
      <div class="item-list">
        <i class="bi bi-gear"></i>
        <a class="nav-link text-secondary" href="#">Configurações</a>
      </div>
    </li>
    <li class="nav-item">
      <div class="item-list">
        <i class="bi bi-box-arrow-left"></i>
        <a class="nav-link text-secondary" href="#">Sair</a>
      </div>
      
    </li>
  </ul>
</aside>
