@import "reset.css";

/* Configurações gerais */

:root {
  --background-color: #eeeeee;
}
* {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

main {
  background-color: #dae6f1;
}
/* sidebar */

aside ul li .nav-item {
  display: flex;
  align-items: center;
  width: 300px;
  color: #5b6176;
}

.item-list {
  display: flex;
  align-items: center;
  font-weight: 500;
}

li {
  display: flex;
}

.sidebar-mobile {
  display: none;
}

/* section  */
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 10px;
}

.container-gerador,
.container-grafico,
.container-info,
.container-tempo,
.container-previsao {
  border-radius: 6px;
  padding: 10px;
}

.container-grafico,
.container-tempo {
  width: 60%;
}

.container-info,
.container-previsao {
  width: 39%;
}

.container-gerador,
.container-cards {
  width: 100%;
}

.headdress {
  display: flex;
  justify-content: space-between;
}
