@import 'reset.css';

/* Configurações gerais */

:root{
  --background-color: #EEEEEE ;
}
*{
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

/* main  */

main{
  background-color: var(--background-color);
}

/* navbar */
nav{
  display: flex;
  align-items: center; 
  justify-content: center;
  text-align: center;
  padding: 10px;
}

nav p{
  align-content: center;
}

nav .perfil{
 display: flex;
 align-items: center;
 text-align: center;
 gap: 10px;
 color: #5B6176;
}

nav .perfil img{
  width: 2.0rem;
  height: 2.0rem;
  border-radius: 50%;
}

nav .logo{
 display: flex;
}

/* sidebar */

aside ul li .nav-item {
  display: flex;
  align-items: center;
  width: 300px;
  color: #5B6176;
}

.item-list{
  display: flex;
  align-items: center;
  font-weight:500;
}

li{
  display: flex;
}

.sidebar-mobile{
  display: none;
}

/* section  */
section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 10px;
}

.container-gerador,
.container-grafico,
.container-info,
.container-tempo,
.container-previsao{
  border-radius: 6px;
  padding: 10px;
}

.container-grafico,
.container-tempo{
  width: 60%;
}

.container-info,
.container-previsao{
  width: 39%;
}

.container-gerador,
.container-cards{
  width: 100%;
}

.headdress{
  display: flex;
  justify-content: space-between;

}
