{% extends 'forms/layout_form.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}

  <section>
    <div class="container-slogan">
      <div class="title">Flúmen</div>
      <div class="slogan">Sua estação meteorológica completa na palma da mão!</div>
    </div>
    <div class="container-formulario">
      <div class="formulario">
        <div class="logo">
          <img src="{% static 'img/logo.png' %}" alt="Logo"/>
          <p class="text">Bem vindo ao Flúmen!</p>
          <p class="info">Faça login para continuar.</p>
        </div>
        <form method="post" class="form mb-2">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}">
          <div class="mb-2 input-style">
            <label for="inputEmail" class="form-label">Email</label>
            <input class="form-control input-style" type="text" id="username" name="username"
                   placeholder="Digite seu usuário" required>
          </div>
          <div class="mb-2 input-style">
            <label for="inputPassword" class="form-label">Senha</label>
            <input type="password" name="password" class="form-control" id="inputPassword"
                   placeholder="Digite sua senha aqui" required>
          </div>
          <div class="link-senha">
            <a class="btn btn-link" href="{% url 'senha' %}">Esqueceu a senha?</a>
          </div>
          <div class="button">
            <button class="btn bt-login" type="submit">Login</button>
          </div>
        </form>
        <div class="link">
          <a class="btn btn-link" href="{% url 'cadastro' %}">Não tem conta? Clique aqui!</a>
        </div>
      </div>
    </div>
  </section>

{% endblock %}



