@import "reset.css";

/* Configurações gerais */

:root {
  --background-color: #eeeeee;
}
* {
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

main {
  background-color: #f3f4f6;
}
/* sidebar */

aside ul li .nav-item {
  display: flex;
  align-items: center;
  width: 300px;
  color: #5b6176;
}

.item-list {
  display: flex;
  align-items: center;
  font-weight: 500;
}

li {
  display: flex;
}

.sidebar-mobile {
  display: none;
}

/* Config Default */
.default-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  width: 100%;
  padding: 1.5rem;
}

.bg-climate,
.forecast {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.card-metric {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
}

.btn-style {
  background-color: #1363ac !important;
  color: white !important;
  border-radius: 5px;
  padding: 6px 20px;
  cursor: pointer;
}

.bg-blue {
  background-color: #1363ac;
}

.card-perfil {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 10px;
}

.btn-auth:hover{
  background-color: #0f3f6d !important; 
  color: white !important;
}