{% extends 'layout/layout_form.html' %}
{% load static %}
{% block title %}Cadastro {% endblock %}
{% block content %}

    <section>
      <div class="container-slogan">
        <div class="title">Flúmen</div>
        <div class="slogan">Sua estação meteorológica completa na palma da mão!</div>
      </div>

    <div class="container-formulario">
      <div class="formulario">
        <div class="logo">
          <img src="{% static 'img/logo.png' %}" alt="Logo" />
            <p class="text" >Bem vindo ao Flúmen!</p>
            <p class="info">Faça seu cadastro para continuar.</p>
        </div>
        <form class="form mb-2">
          <div class="mb-2 input-style">
            <label for="inputName" class="form-label">Nome completo</label>
            <input type="text" class="form-control input-style" id="inputName" placeholder="Digite seu nome aqui"/>
          </div>
          <div class="mb-2 input-style">
            <label for="inputEmai" class="form-label">Email</label>
            <input type="email" class="form-control input-style" id="inputEmail" placeholder="Digite seu email aqui"/>
          </div>
          <div class="mb-2 input-style">
            <label for="inputNewPassword" class="form-label">Senha</label>
            <input type="password" class="form-control" id="inputNewPassword" placeholder="Digite sua senha aqui"/>
          </div>    
          <div class="mb-2 input-style">
            <label for="inputNewPasswordConfirm" class="form-label">Confirmar senha</label>
            <input type="password" class="form-control" id="inputNewPasswordConfirm" placeholder="Repita sua senha aqui"/>
          </div> 

        </form>
        
        <div class="button" >
          <button class="btn bt-login" type="submit">Criar conta</button>
        </div>
        <div class="link">
          <a class="btn btn-link" href="{% url 'login' %}">Já tem conta? Clique aqui!</a>
        </div>
      </div>
      </div>
  </section> 

{% endblock %}
