{% extends 'layout/layout_form.html' %}
{% load static %}
{% block title %}Redefinicao de senha{% endblock %}
{% block content %}

  <section>
    <div class="container-slogan">
      <div class="title">Flúmen</div>
      <div class="slogan">Sua estação meteorológica completa na palma da mão!</div>
    </div>

  <div class="container-formulario">
    <div class="formulario">
      <div class="logo">
        <img src="{% static 'img/logo.png' %}" alt="Logo" />
          <p class="text" >Bem vindo ao Flúmen!</p>
          <p class="info">Digite seu email para continuar.</p>
      </div>
      <form class="form mb-2">
        <div class="mb-2 input-style">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control input-style" id="inputEmail" placeholder="Digite seu email aqui"/>
        </div>  
      </form>
      
      <div class="button" >
        <button class="btn bt-login" type="submit">Enviar email</button>
      </div>
      <div class="link">
        <a class="btn btn-link" href="{% url 'cadastro' %}">Não tem conta? Clique aqui!</a>
      </div>
    </div>
    </div>
  </section>
  
{% endblock %}
      
 

