{% extends 'layout/layout_form.html' %}
{% load static %}

{% block title %}Redefinir senha  {% endblock %}

{% block content %}
<section class="container-fluid col-12">
  <div class="row h-100">
    <div class="col-lg-6 col-md-6 d-flex flex-column align-items-start justify-content-center">
      <h1 class="text-white fw-semibold">SIMC</h1>
      <p class="text-white fs-4 fw-light">Sua estação meteorológica completa na palma da mão!</p>
    </div>
    <div class="col-lg-4 col-md-6 d-flex justify-content-start align-items-end justify-content-sm-center">
      <div class="form-content bg-white p-5 pb-2 d-flex flex-column">
        <div class="text-center mb-4">
          <img src="{% static 'img/logo-azul.png' %}" class="mb-3" alt="Logo" style="width: 300px;" />
          <p class="fw-semibold">Bem-vindo ao SIMC!</p>
          <p>Digite sua nova senha para continuar.</p>
        </div>
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />
          <div class="mb-3 input-style">
            <label for="newPassword" class="form-label">Nova senha</label>
            <input
              type="password"
              class="form-control input-style"
              id="newPassword"
              placeholder="Digite sua nova senha aqui"
            />
          </div>
          <div class="mb-3 input-style">
            <label for="confirmPassword" class="form-label">Confirme a senha</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              placeholder="Repita sua senha aqui"
            />
          </div>
          <div class="bg-btn d-flex justify-content-center align-items-center mt-4">
            <button class="btn text-white" style="width: 100%;" type="submit">Redefinir senha</button>
          </div>
        </form>
        <div class="text-center mt-3 pb-5">
          <a href="{% url 'login' %}" class="btn btn-link text-decoration-none">Clique aqui para fazer login!</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
