{% load static %}

<section class="bg-dark text-white pt-5 pb-4 ">
  <div class="container text-center text-md-left">
    <div class="row text-start text-md-left">
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <img class="mb-4" src="{% static 'img/logo.png' %}"  alt="logo" width="200" height="100">
        <p>Sistema de gerenciamento de Estação meteorológica.</p>
        <p class="fw-light fs-6">© IFRO</p>
      </div>

      <div class="col-md-2 col-lg-2 col-xl-2 mx-auro mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-primary">IFRO</h5>
        <p>
          <a href="https://portal.ifro.edu.br/" target="_blank"  class="text-white" style="text-decoration: none;">Portal IFRO</a>
        </p>
        <p>
          <a href="https://portal.ifro.edu.br/contato-nav" target="_blank" class="text-white" style="text-decoration: none;">Contato</a>
        </p>
        <p>
          <a href="https://portal.ifro.edu.br/sobre-o-ifro" class="text-white" target="_blank" style="text-decoration: none;">Sobre</a>
        </p>
      </div>

      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold text-primary">PROJETO</h5>
        <p>
          <a href="#" class="text-white" target="_blank" style="text-decoration: none;">Estacao</a>
        </p>
        <p>
          <a href="#" class="text-white" target="_blank" style="text-decoration: none;">Estacao</a>
        </p>
        <p>
          <a href="#" class="text-white" target="_blank" style="text-decoration: none;">Estacao</a>
        </p>
      </div>
    </div>
  </div>
</section>

