{% load static %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" /> 
    <link rel="stylesheet" href="{% static 'css/relatorio.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://kit.fontawesome.com/7a2b9d2cd6.js" crossorigin="anonymous"></script>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>
      {% block title %}
      {% endblock %}
    </title>
  </head>
  <header>
    {% block navbar %}
    {% include 'layout/navbar.html' %}
    {% endblock %}
  </header>
  <body>
    <div class="d-flex">
      {% block sidebar %}
        {% include 'layout/sidebar.html' %}
      {% endblock %}

      {% block sidebarmobile %}
        {% include 'layout/sidebarmobile.html' %}
      {% endblock %}
      <main class="flex-fill p-3">
        {% block content %} {% endblock %}
      </main>
    </div>
  </body>
  <footer>
    {% block footer %}
        {% include 'layout/footer.html' %}
      {% endblock %}
  </footer>
</html>
