{% load static %}

  <nav class="navbar bg-white .navbar-expand-lg">
    <div class="container-fluid">
      <div class="perfil ">
        <img src="{% static 'img/perfil.jpg' %}" alt="foto" width="30" height="30"/>
        <span>Bem vindo Filipe!</span>
      </div>
      <div class="loc">
        <span>Ji-Paraná / Rondônia</span>
      </div>
      <div class="logo">
        <a class="navbar-brand" href="#"><img src="{% static 'img/logo.png' %}" alt="Logo" width="80" height="40" /></a>
      </div>
    </div>
  </nav>
