{% load static %}
{% load bootstrap5 %}
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{% static 'img/icone-page.png' %}" />
    <link rel="stylesheet" href="{% static 'css/form-style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/form-responsive.css' %}" />
    <link rel="stylesheet" href="{% static 'css/senha.css' %}" />
    <link rel="stylesheet" href="{% static 'css/cadastro.css' %}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    {% bootstrap_css %}
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <main class="container-fluid bg-overlay">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 d-flex flex-column justify-content-center min-vh-100">
          <h1 class="text-white fw-bold">SIMC</h1>
          <p class="text-white fs-4 fw-light">
            Sua estação meteorológica completa na palma da mão!
          </p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>

    {% bootstrap_javascript %}
  </body>
</html>