{% extends 'layout/layout.html' %}
{% block title %}Dashboard{% endblock %}
{% block content %}

<main>
  <section>
      <div class="container-tempo bg-white">
        <div class="tempo-dia">
          <i class="fa-solid fa-sun"></i>
          <span>Ensolarado</span>
        </div>

        <div class="container-temp">
          <div class="temp-dia">
            <h1>30º</h1> <h3>C</h3>
          </div>

          <div class="temp-dias-anteriores">
            <div class="card-dia">
              <p>domingo</p>
              <i class="fa-solid fa-cloud-bolt"></i>
              <p class="temperatura">32ºC</p>
            </div>

            <div class="card-dia">
              <p>Segunda</p>
              <i class="fa-solid fa-cloud-sun-rain"></i>
              <p class="temperatura">32ºC</p>
            </div>

            <div class="card-dia">
              <p>Terca</p>
              <i class="fa-solid fa-cloud-sun"></i>
              <p class="temperatura">32ºC</p>
            </div>
          </div>
        </div>

        <div class="info-dia">
          <div class="iqa">
            <i class="fa-solid fa-leaf"></i>
            <span>IQA 13</span>
          </div>

          <div class="data">
            <span>Quarta-feira, 20 de Agosto de 2024</span>
          </div>
        </div>
      </div>

      <div class="container-previsao bg-white">
        <p class="headdress">Previsao para os proximos dias</p>
        <div class="listas">
          <ul class="icones">
            <li><i class="fa-solid fa-cloud-rain"></i></li>
            <li><i class="fa-solid fa-cloud-rain"></i></li>
            <li><i class="fa-solid fa-cloud-rain"></i></li>
            <li><i class="fa-solid fa-cloud-rain"></i></li>
            <li><i class="fa-solid fa-cloud-rain"></i></li>
          </ul>
  
          <ul class="dias">
            <li>Amanha Chuva</li>
            <li>Sexta Chuva</li>
            <li>Sabado Chuva</li>
            <li>Domingo Chuva</li>
            <li>Segunda Chuva</li>
          </ul>
  
          <ul class="temp-previsao">
            <li> 20º Min / 25º Max</li>
            <li> 20º Min / 25º Max</li>
            <li> 20º Min / 25º Max</li>
            <li> 20º Min / 25º Max</li>
            <li> 20º Min / 25º Max</li>
          </ul>
        </div>
      </div>

      <div class="container-cards">
        <div class="card-info bg-white">
          <p class="title-card">
            Luminosidade
          </p>
          <p class="dado">30%</p>
        </div>

        <div class="card-info bg-white">
          <p class="title-card">
            Umidade do ar
          </p>
          <p class="dado">30%</p>
        </div>

        <div class="card-info bg-white">
          <p class="title-card">
            Umidade do solo
          </p>
          <p class="dado">30%</p>
        </div>

        <div class="card-info bg-white">
          <p class="title-card">
            Chuva
          </p>
          <p class="dado">30%</p>
        </div>

        <div class="card-info bg-white">
          <p class="title-card">
            Velocidade / Direcao do vento
          </p>
          <p class="dado">30%</p>
        </div>

        <div class="card-info bg-white">
          <p class="title-card">
            Indice Ultravioleta
          </p>
          <p class="dado">30%</p>
        </div>
  
      </div>


  </section>
</main>

{% endblock %}
