{% extends 'layout/layout_form.html' %} {% load static %} 
{% block title%}Login{% endblock %} {% block content %}
<section class="container-fluid col-12">
  <div class="row h-100">
    <div
      class="d-flex justify-content-start justify-content-sm-center align-items-end"
    >
      <div class="form-content bg-white p-5 pb-2 d-flex flex-column">
        <!-- Cabeçalho -->
        <div class="text-center mb-4">
          <img
            src="{% static 'img/logo-azul.png' %}"
            alt="Logo"
            class="mb-3 mx-auto d-block"
            style="width: 300px"
          />
          <p class="fw-semibold">Bem-vindo ao SIMC!</p>
          <p>Faça login para continuar.</p>
        </div>

        <!-- Formulário -->
        <form method="post">
          {% csrf_token %}
          <input type="hidden" name="next" value="{{ next }}" />

          <div class="mb-3">
            <label for="username" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              placeholder="Digite seu email aqui"
              required
            />
          </div>

          <div class="mb-3">
            <label for="inputPassword" class="form-label">Senha</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              name="password"
              placeholder="Digite sua senha aqui"
              required
            />
          </div>
          <div class="d-flex justify-content-end color-link">
            <a
              href="{% url 'email' %}"
              class="btn btn-link text-decoration-none"
            >
              Esqueceu a senha?
            </a>
          </div>
          <div class="d-grid mt-3 bg-btn">
            <button type="submit" class="btn btn-auth text-white">
              Login
            </button>
          </div>
        </form>

        <!-- Rodapé -->
        <div class="text-center mt-3 pb-5 color-link">
          <a
            href="{% url 'cadastro' %}"
            class="btn btn-link text-decoration-none"
          >
            Não tem conta? Clique aqui!
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
