{% load static %}
<section class="colaboradores mt-5 pb-5">
  <h1 class="text-center pb-3">Colaboradores</h1>
  <div class="row p-3 d-flex justify-content-center" style="width: 100%;">
    {% for colaborador in colaboradores %}
    <div class="mt-2" style="max-width: 250px; min-width: 250px;">
      <a class="text-decoration-none text-dark" href="{{ colaborador.linkedin }}" target="_blank">
        <div class="card-content p-3">
          <div class="image d-flex flex-column align-items-center">
            <img src="{% static colaborador.foto %}" class="img-fluid rounded-circle" style="max-width: 120px;" alt="Foto de {{ colaborador.nome }}" />
          </div>
          <div class="text-center mt-2">
            <p class="mt-1 mb-0 fw-bold">{{ colaborador.nome }}</p>
            <p class="mb-0 text-muted">
              Desenvolvedor(a) <br /> {{ colaborador.funcao }}
            </p>
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
  </div>
</section>
